<div style="margin-top:20px">
  <form name="form" role="form">
    <div class="form-group">
      Client Name:<br>
      <input type="text" name="clientName" class="form-control" [(ngModel)]="clientName" required />
      <span *ngIf="!clientName" class="help-block">Client name is required</span>
    </div>
    <button type="submit" (click)="click()" [disabled]="!clientName" class="btn btn-danger">Find client</button>
  </form>
  <br />
  <div *ngIf="clients.length > 0">
    <table class="table table-striped table-hover" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients | paginate: {itemsPerPage: 15, currentPage:page, id: '1'}">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event" id="1"
                         maxSize="15"
                         directionLinks="true"
                         autoHide="true">
    </pagination-controls>
  </div>
  </div>
