<mat-toolbar>
  <mat-toolbar-row>
    <span>Welcome {{user}}</span>

    <span class="example-fill-remaining-space"></span>
    <button style="margin:5px" type="button" (click)="click()" class="btn btn-primary">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>


<div style="padding: 5px;">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       [routerLink]="['/home',{outlets: {'apptab1':['tab1']}}]"
       routerLinkActive
       #rla="routerLinkActive">
      Get all clients
    </a>

    <a mat-tab-link
       [routerLink]="['/home',{outlets: {'apptab1':['tab2']}}]"
       routerLinkActive
       #rla="routerLinkActive">
      Get client by id
    </a>

    <a mat-tab-link
       [routerLink]="['/home',{outlets: {'apptab1':['tab3']}}]"
       routerLinkActive
       #rla="routerLinkActive">
      Client by name
    </a>

    <a mat-tab-link
       [routerLink]="['/home',{outlets: {'apptab1':['tab4']}}]"
       routerLinkActive
       #rla="routerLinkActive">
      Policy by client name
    </a>

    <a mat-tab-link
       [routerLink]="['/home',{outlets: {'apptab1':['tab5']}}]"
       routerLinkActive
       #rla="routerLinkActive">
      Client by policy id
    </a>
  </nav>
  <router-outlet name="apptab1"></router-outlet>
</div>

